/* HEADER SUBMENU STYLES */

/* Vertical menu display none (TEMPORAL)*/
.vertical-menu-container {
    display: none !important;
}

.header-content_container {
    width: 100%;
    position: fixed;
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_list {
    width: 1430px;
    padding: 0;
}

.link_list {
    display: flex;
    list-style: none;
}

.link_list li {
    padding: 20px;
    font-weight: 600;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

/* Submenu container */

.submenu-content_container {
    padding-top: 20px;
    height: max-content;
    width: max-content;
    top: 60px;
    position: absolute;
    display: none;
    opacity: 0;
    z-index: 2;
}

.submenu-content {
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #cbcbcb;
    padding: 20px;
    display: grid;
    grid-template-columns: 180px 100px 180px 100px 130px 100px 100px; /* Estas medidas pueden cambiar segun la cantidad de marcas actuales */
    width: max-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 20px;
}

.submenu-content a {
    white-space: nowrap;
    font-weight: 500;
    transition-duration: 0.3s;
}

.submenu-content a:hover {
    color: #60af48;
}

.submenu-content a {
    font-weight: 400;
    padding: 10px 0px;
}

/* Brand filter with letters */

.submenu-letter_container {
    height: calc(100% - 40px);
    text-align: left;
}

.brand_container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    height: max-content;
    text-align: left;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #F3F3F3;
}


.large-brand_container {
    display: grid;
    grid-template-columns: 90px 90px;
}


.submenu-brand-letter_title {
    font-weight: 800;
}












