<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Dashboard</title>

    <!-- Styles -->
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/dashboard.css">

</head>

<body>

    <header>
        <div class="header-container">
            <img src="/static/infotechlogo.png" class="infotech-logo" width="115px" height="50px">
            <div class="control-panel-title">
                <span class="title">Dashboard</span>
                <span class="sub-title">InfotechOnline</span>
            </div>
            <div class="profile-container">
                <span class="username-span">Mercadeo</span>
                <div class="tooltip-container">
                    <img src="/static/user.png" class="user-logo" width="40px" height="40px" style="padding: 5px;">
                    <ion-icon name="caret-down-outline"></ion-icon>
                    <div class="tooltip-menu" style="display: none;">
                        <div class="tooltip-menu-content">
                            <a href="/control-panel/profile">Profile</a>
                            <a href="/log-out">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="content">

        <div class="breadcrumbs">
            <span>Dashboard</span>
            <div class="breadcrumb-bar"></div>
        </div>

        <div class="forms-content-container">
            <div class="forms-title">
                <span>Products</span>
            </div>

            <div class="documents-container">

                <!--<div class="form-search-bar-container">
                    <input type="text" placeholder="Search...">
                </div>-->

                <div class="table-container">
                    <div class="table-content">
                        <div class="animations-content_container_products">
                            <img src="/static/loading.gif">
                        </div>
                        <table class="table">
                            <thead class="table-success">
                                <tr>
                                    <th scope="col">IMAGE</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">SKU</th>
                                    <th scope="col">PRECIO</th>
                                    <th scope="col">TITULO</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <!--
                                {%for row in table%}
                                    <tr>
                                        <td>{{row["image"]}}</td>
                                        <td>{{row["Fecha"]}}</td>
                                        <td>{{row["Cliente"]}}</td>
                                        <td>{{row["Valor"]}}</td>
                                        <td>{{row["Guia"]}}</td>
                                        <td>{{row["Estado"]}}</td>
                                    </tr>
                                {%endfor%}-->
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="elements-loaded-container">
                    <span class="elements-loaded-text">
                        <e class="qty">0</e> elements <e class="text-hidden_mobile">are displayed</e>
                    </span>
                    <span class="page-number"><ion-icon name="caret-back-outline" class="back-icon disabled"></ion-icon>
                        <e class="page-text">Page 1</e> <ion-icon name="caret-forward-outline"
                            class="forward-icon disabled"></ion-icon>
                    </span>
                </div>
            </div>
        </div>

        <div class="reports-container">

            <div class="reports-container-title"><span>Update</span></div>
            <div class="reports-container-content">
                <div class="total-post-report">
                    <div class="icon"><ion-icon name="document-text"></ion-icon></div>
                    <span class="qty">
                        <e class="today-log-qty">0</e> Updates
                    </span>
                    <span class="today-text">Registered today</span>
                    <span class="total-text">Total: <span>
                            <e class="log-total-qty">0</e> Updates
                        </span></span>
                </div>
                <div class="update-form-container">
                    <h3>Update Products</h3>
                    <div class="log-message">
                        <span class="success-message display-none">The file has been updated successfully.</span>
                        <span class="load-message display-none">Updating data...</span>
                        <span class="error-message display-none">The file could not be updated.</span>
                        <span class="last-update-message">last update <e class="last-log-date">...</e></span>
                    </div>
                    <div class="update-button-container">
                        <div class="update-button">Update data</div>
                        <div class="add-prod-button_modal">Add products</div>
                    </div>

                    <div class="add-prod-container display-none">
                        <div class="buttons-container"><span class="close-modal_button"><ion-icon
                                    name="close-outline"></ion-icon></span></div>
                        <div class="add-prod-content">
                            <div class="title">
                                <span class="first-title">Add Products</span>
                            </div>
                            <div class="notify-section_modal">
                                <span class="first-message">Only for products uploaded from the store</span>
                                <span class="prod-success-message display-none">The product was uploaded
                                    successfully</span>
                                <span class="add-prod-error-message display-none">The product cannot be added</span>
                                <span class="add-prod-fill-message display-none">Fill out all the fields</span>
                            </div>
                            <div class="add-prod-form">
                                <label>SKU (The Sku Registered in the Store)</label>
                                <input class="prod-sku-input" type="text" placeholder="Example: 101001">
                                <label style="margin-top: 20px;">Part Number (The Sku Registered by the
                                    Provider)</label>
                                <input class="prod-pn-input" type="text" placeholder="Example: 543321">
                                <div class="option-menu_modal">
                                    <select class="category-select select" aria-label="Category">
                                        <option selected disabled>Select a Category</option>
                                        <option value="accesorios" style="color: #63b365;">Accesorios</option>
                                        <option value="impresoras" style="color: #63b365;">Impresoras</option>
                                        <option value="monitores" style="color: #63b365;">Monitores</option>
                                        <option value="computadores-escritorio" style="color: #63b365;">Computadores (escritorio)</option>
                                        <option value="laptop" style="color: #63b365;">Portatiles</option>
                                        <option value="proyectores" style="color: #63b365;">Proyectores</option>
                                        <option value="smarthome" style="color: #63b365;">Smarthome</option>
                                        <option value="smartphones" style="color: #63b365;">Smartphones</option>
                                        <option value="tablets" style="color: #63b365;">Tablets</option>
                                        <option value="tvs" style="color: #63b365;">Televisores</option>
                                        <option value="consolas" style="color: #63b365;">Consolas</option>
                                
                                        <option value="memorias-ram" style="color: #56738a;">Memorias RAM</option>
                                        <option value="almacenamiento" style="color: #56738a;">Almacenamiento</option>
                                        <option value="ups-energia" style="color: #56738a;">UPS y Energia</option>
                                        <option value="redes" style="color: #56738a;">Redes</option>
                                        <option value="servidores" style="color: #56738a;">Servidores</option>
                                    </select>
                                    <select class="provider-select select" aria-label="Provider">
                                        <option selected disabled>Select a Provider</option>
                                        <option value="ingram">Ingram</option>
                                        <option value="intcomex">Intcomex</option>
                                    </select>
                                </div>
                                <div class="add-prod-button">Add product</div>
                            </div>
                        </div>
                    </div>

                    <div class="option-menu">
                        <div class="form-check">
                            <input class="form-check-input only-ingram" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault2" value="0" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Only Ingram
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input only-intcomex" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault1" value="1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Only Intcomex
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input all-products" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault1" value="1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                All Products
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="forms-content-container">
            <div class="centered-title">
                <div><span>Logs</span></div>
            </div>

            <div class="documents-container logs-container">
                <div class="table-container">
                    <div class="table-content">
                        <div class="animations-content_container_logs">
                            <img src="/static/loading.gif">
                        </div>
                        <table class="table logs-table">
                            <thead class="table-success">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">DATE</th>
                                    <th scope="col">QTY</th>
                                    <th scope="col">TYPE</th>
                                    <th scope="col">PRODUCTS</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <!-- Loading data -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-text">
            <span>An <e>InfoTech</e> Solution.</span>
        </div>

    </div>

    <script src="path/to/chartjs/dist/chart.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>-->

    <!-- Animations -->
    <script src="/static/js/anime-master/lib/anime.min.js"></script>
    <script src="/static/js/animations.js"></script>

    <!-- Load data -->
    <script src="/static/js/load_data.js"></script>
    <script src="/static/js/add_product.js"></script>

</body>

</html>