<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Leaderboard Halloween</title>

    <link rel="stylesheet" href="/static/css/leadeboard.css">

</head>

<body>

    <div class="content_container">

        <div class="title-content_container">
            <div class="title_container">
                <span>¿EN QUÉ LUGAR VAS?</span>
            </div>
        </div>

        <div class="podium-content_container">

            <div class="podium-position_contianer second-podium-position_container">

                <div class="podium-user-photo_content_container">
                    <div class="podium-user-photo_container">
                        <img src="/static/fotos_colaboradores/juan_gallego.jpeg" alt="" class="podium_user_photo">
                    </div>
                </div>

                <div class="podium-user-name_container">
                    <span>Juan Gallego</span>
                </div>

                <div class="podium-number-position-content_container">
                    <div class="podium-number-position_container">
                        <span>2</span>
                    </div>
                </div>

                <div class="points-content_container">
                    <span>36710</span>
                </div>

                <div class="star-logo-content_container">
                    <div class="star-logo_container">
                        <ion-icon name="star"></ion-icon>
                    </div>
                </div>

                <div class="rectangle">
                </div>
            </div>

            <div class="podium-position_contianer first-podium-position_container">

                <div class="podium-user-photo_content_container">
                    <div class="podium-user-photo_container">
                        <img src="/static/fotos_colaboradores/jose_nazarit.jpeg" alt="" class="podium_user_photo">
                    </div>
                </div>

                <div class="crown-content_container">
                    <div class="crown_container">
                        <img src="/static/imgs/crown.png" alt="">
                    </div>
                </div>

                <div class="podium-number-position-content_container">
                    <div class="podium-number-position_container">
                        <span>1</span>
                    </div>
                </div>

                <div class="podium-user-name_container">
                    <span>Jose Nazarit</span>
                </div>

                <div class="points-content_container">
                    <span>37780</span>
                </div>

                <div class="star-logo-content_container">
                    <div class="star-logo_container">
                        <ion-icon name="star"></ion-icon>
                    </div>
                </div>

                <div class="rectangle">
                </div>
            </div>

            <div class="podium-position_contianer third-podium-position_container">

                <div class="podium-user-photo_content_container">
                    <div class="podium-user-photo_container">
                        <img src="/static/fotos_colaboradores/carlos_argoti.jpeg" alt="" class="podium_user_photo">
                    </div>
                </div>

                <div class="podium-user-name_container">
                    <span>Carlos Argoti</span>
                </div>

                <div class="podium-number-position-content_container">
                    <div class="podium-number-position_container">
                        <span>3</span>
                    </div>
                </div>

                <div class="points-content_container">
                    <span>34850</span>
                </div>

                <div class="rectangle"></div>
            </div>

        </div>

        <div class="leadeboard-content_container">

            <div class="leadeboard-header_container poppins-bolds">
                <div class="leadeboard-header-tag_container">
                    <div class="last-update_container">
                        <span>Actualizado el jueves, 31 de Octubre / Día 4</span>
                    </div>
                </div>
            </div>

            <div class="leadeboard-body_container">

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>4</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/luis_vallejo.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Luis Vallejo</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>34140</span><span class="presition">(93%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>5</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/betty_sanchez.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Betty Sanchez</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>34100</span><span class="presition">(96%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>6</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/luis_vasquez.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Luis Vasquez</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <ion-icon name="star" style="color: #51be76; font-size: 10px"></ion-icon>
                            <span>33580</span><span class="presition">(96%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>7</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/carlos_noguera.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Carlos Noguera</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>32470</span><span class="presition">(90%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>8</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/karolina_arteaga.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Karolina Arteaga</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>32030</span><span class="presition">(87%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>9</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/natalia_villada.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Natalia Villada</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <ion-icon name="star" style="color: #51be76; font-size: 10px"></ion-icon>
                            <span>31280</span><span class="presition">(83%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>10</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/elizabeth_matabanchoy.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Elizabeth Matabanchoy</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>31280</span><span class="presition">(81%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>11</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/julieth_gomez.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Julieth Gomez</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>31010</span><span class="presition">(90%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>12</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/maribel_diaz.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Maribel Diaz</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>30560</span><span class="presition">(83%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>13</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/ricardo_gomez.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Ricardo Gomez</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>30210</span><span class="presition">(93%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>14</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/mauricio_grisales.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Mauricio Grisales</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>29980</span><span class="presition">(83%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>15</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/karen_villarreal.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Karen Villarreal</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>29520</span><span class="presition">(87%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>16</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/raffael_ricaurte.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Raffael Ricaurte</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>29270</span><span class="presition">(84%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>17</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/tatiana_solarte.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Tatiana Solarte</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>29190</span><span class="presition">(81%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>18</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/michell_millan.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Michell Millan</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>28660</span><span class="presition">(90%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>19</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/liliana_bedoya.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Liliana Bedoya</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>27520</span><span class="presition">(87%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>20</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/luz_amparo.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Luz Amparo</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>26880</span><span class="presition">(77%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>21</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/nestor_polo.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Néstor Polo</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>26560</span><span class="presition">(83%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>22</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/lucia_crispino.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Lucia Crispino</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>26450</span><span class="presition">(74%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>23</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/gladys_gomez.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Gladys Gomez</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>25630</span><span class="presition">(71%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>24</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/leidy_delatorre.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Leidy de la Torre</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>25050</span><span class="presition">(93%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>25</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/carolina_castro.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Carolina Castro</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>24410</span><span class="presition">(70%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>26</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/jorge_bedoya.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Jorge Bedoya</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>23060</span><span class="presition">(57%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>27</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/mauricio_lopez.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Mauricio Lopez</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>23010</span><span class="presition">(60%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>28</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/jennifer_tobon.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Jennifer Tobon</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>22520</span><span class="presition">(80%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>29</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/daniela_tellez.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Daniela Téllez</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>21790</span><span class="presition">(80%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>30</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/henry_bedoya.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Henry Bedoya</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>21490</span><span class="presition">(53%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>31</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/monica_salazar.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Monica Salazar</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>21180</span><span class="presition">(80%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>32</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/jerson_brand.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Jerson Brand</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>18570</span><span class="presition">(53%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-up-outline" class="increment_icon"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="leadeboard-body-row_container">
                    <div class="user-info_container">
                        <div style="min-width: 20px;">
                            <span>33</span>
                        </div>
                        <div class="user-photo_container">
                            <img src="/static/fotos_colaboradores/juan_lopez.jpeg" alt="" class="user_photo">
                        </div>
                        <div class="user-name_container">
                            <span>Juan Lopez</span>
                        </div>
                    </div>
                    <div class="user-points_container">
                        <div class="points">
                            <span>17480</span><span class="presition">(65%)</span>
                        </div>
                        <div class="status">
                            <ion-icon name="caret-down-outline" class="decrement_icon"></ion-icon>
                        </div>
                    </div>
                </div>



            </div>

        </div>

        <div class="mensaje-content_container">

            <div class="mensaje_content">
                Los puntajes de la actividad de trivias se califican automáticamente a través de la plataforma. Esta
                herramienta evalúa tanto la precisión de las respuestas como la rapidez con la que se contestan. Así,
                cada participante recibe un puntaje justo y preciso en función de su desempeño.
            </div>

        </div>

        <div class="infotech-logo-content_container">
            <img src="/static/imgs/infotech_blanco.png" alt="" width="130px">
        </div>

    </div>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>